body
{
  background-color: #ebebe0;
}
body p
{
  font-size: 1.5vw;
  padding-left: 5px;
}

.header-image {
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  font-size: 4em;
}

/*
.ui.modal {
  margin-top: 0 !important;
  display: flex !important;
}
*/

#row
{
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#row img
{
  width: 100%;
  height: 300px;
  padding-top: 5px;
}
#row h3
{
  font-size: 2vw;
  padding-left: 15px;
  margin-top: 3%;
  width: 100%;
  color: white;
  background-color: black;
  text-transform: uppercase;
}
#row button
{
  margin-left: 40%;
  margin-bottom: 3%;
}
#row a
{
  font-size: 1vw;
  color: black;
}


#membership
{
  float: left;
  width: 25%;
  height: 50%;
  color: white;
  background-color: #004d99;
  margin-left: 7%;
  margin-top: 8%;
}
#membership h1
{
  text-align: center;
  font-size: 2vw;
  text-transform: uppercase;
}

#facility_details
{
  float: left;
  width: 15%;
  height: 50%;
  color: black;
  margin-left: 7%;
  margin-top: 5%;
}

#login-signup
{
  float: left;
  margin-left: 20%;
  margin-top:1%;
  width: 100%;
}

#login-signup input,input:focus
{
  font-family: inherit;
  box-sizing: border-box;
  font-size: 100%; 
  width: 50%;
  margin-bottom: 2%;
  appearance: none;
  border-bottom-style: solid;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  border-block-color: blue;
}
form h4
{
  margin-left: 50%;
}