<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="{{ url_for('static',filename='css/style.css') }}" type= "text/css" rel="stylesheet" >
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

      <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title> No title specified</title>
      {% endif %}

      <style>
        .dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .ui.modal,
        .ui.active.modal {
          margin: 0 auto!important;
          top: auto !important;
          left: auto !important;
          transform-origin: center !important;
          transition: all ease .5s;
        }        
      </style>

  </head>

  <body>

    {% if not loggedin %}

      <div class="ui three item menu" style="margin-bottom: 0px; margin-top: 0px; font-size: 1.3em">
        <div class="item" style="padding: 0.5%;"><img class="ui tiny image" src="../static/Images/logo.png" alt="logo"></div>
        <a class="item" href="{{ url_for('index') }}" title="Visit Home Page">Home</a>
        <a class="item login" href="#" id="modalButton" title="Display Login Box">Login</a>
      </div>

    {% else %}

    <div class="ui five item menu" style="margin-bottom: 0px; margin-top: 0px; font-size: 1.3em">
      <div class="item" style="padding: 0.5%;"><img class="ui tiny image" src="../static/Images/logo.png" alt="logo"></div>
      <a class="item" href="{{ url_for('index') }}" title="Visit Home Page">Home</a>
      <a class="item" href="{{ url_for('memberships') }}" title="Visit Memberships Page">Memberships</a>
      <a class="item" href="{{ url_for('classes_and_facilities') }}" title="Visit Classes Page">Classes & Facilities</a>
      <a class="item" href="{{ url_for('dashboard') }}" title="Visit Dashboard Page">Dashboard</a>
    </div>

    {% endif %}

    {% if login_form %}

      <!--<div class="ui tiny modal" id="loginModal" style="position: relative; text-align: center; background-color: #F8F8F8;">-->
      <div class="ui tiny modal" id="loginModal" style="position: fixed; top: 30%;">
        <i class="close icon"></i>
        <div class="ui placeholder segment" style="margin: auto auto auto auto; position: relative; background-color: white; border-left: none; border-right: none;">
          <div class="ui two column very relaxed stackable grid">

            <div class="column">

              <form class="ui form" action="{{ url_for('index') }}" method="post">

                {{ login_form.hidden_tag() }}

                <div class="field">
                  <label>Email</label>
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ login_form.email }}
                  </div>
                </div>

                <div class="field">
                  <label>Password</label>
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{ login_form.password }}
                  </div>
                </div>

                {{ login_form.loginSubmit(class_='ui fluid blue submit button') }}

              </form>

            </div>

            <div class="middle aligned column">
              <a href="{{ url_for('signup') }}"  title="Visit Signup Page">
                <div class="ui big button">
                  <i class="signup icon"></i>
                  Sign Up
                </div>
              </a>
            </div>
          </div>
          <div class="ui vertical divider">
            Or
          </div>
        </div>
      </div>

    {% endif %}

    <div>
      {% block content %}{% endblock %}
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.js'></script>
    <script type="text/javascript">

      $(document).ready(function(){

        $("#modalButton").click(function(){
          $("#loginModal").modal('show');
          $("#loginModal").modal('refresh');
        });

        $("#loginModal").modal({
          closable: true,
          blurring: true
        });

      });

    </script>    

  </body>
    
</html>
