{%extends 'base.html'%}

{% block content %}

<div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%;">
    Process Cash Payment:
</div>

<div class="ui container">

	<div class="ui centered grid">

		<div class="eight wide column">

			<a href="{{ url_for('staff') }}" title="Go back to staff page">
				<button class="ui fluid button">
					Go Back
				</button>
			</a>

			<div class="ui raised segment">

				<table class="ui very basic table">

					<thead>
						<tr>
							<th>Customer Name</th>
							<th>Amount</th>
							<th>Approve</th>
						</tr>
					</thead>
					<tbody>

						{% for cid, user in cashUsers.items() %}

							<tr>
								<td>{{ user }}</td>
								<td>£5</td>
								<form class="ui form" method="post" action="{{ url_for('approve_cash', id=cid) }}">
									<td>
										<input class="ui fluid positive submit button" type="submit" value="Approve">
									</td>
								</form>
							</tr>

						{% endfor %}

					</tbody>

				</div>

			</div>

		</div>		

	</div>

</div>

{% endblock %}