{%extends 'base.html'%}

{% block content %}

<div class="ui fluid image">
  <img src="../static/Images/header.png" class="header image of computer">
  <div class="header-image"><span style="background-color: rgba(0, 0, 0, 0.5);">Make a Booking</span></div>
</div>

{% if 'email' in session %}

    <div class="ui horizontal divider" style="margin-top: 2%;">
        Facilities
    </div>

    {% if not (errorMessage == "") %}

        <div class="ui container">
            <div class="ui error message">
                <p style="color: red; text-align: center;">{{ errorMessage }} </p>
            </div>
        </div>

    {% endif %}       

  <div class="ui four column doubling stackable grid container" style="margin-top: 2%; margin-bottom: 2%;">

    <div class="column">
       <div class="ui fluid card">
        <div class="ui medium image"><img src="../static/Images/gym.jpg" alt="gym"></div>
          <div class="content">
            <div class="header">Fitness Room</div>
          </div>
          <div class="content">
            <h2 class="ui sub header">Make a Booking:</h4>
            <div class="description">
                <form class="ui form" action="{{ url_for('process_booking') }}" method="post">

                  <div class="field">
                    <label>Date</label>
                    <select id="dateChosen" name="dateChosen">

                        {% if ( booking_num['fitness'] < 1 ) %}

                            <option value="none">No Available Dates</option>

                        {% else %}

                            {% for date in booking_dict['fitness']: %}
                                <option value="{{ date }}">{{ date }}</option>
                            {% endfor %}

                        {% endif %}

                    </select>
                  </div>

                  <div class="field">
                    <label>Time</label>
                    <select id="timeChosen" name="timeChosen">
                        {% if ( booking_num['fitness'] < 1 ) %}

                            <option value="none">No Available Times</option>

                        {% else %}

                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>

                        {% endif %}
                    </select>
                  </div>  

                  <div class="field">
                    <label>Booking Type</label>
                    <select id="choose" name="choose">
                        {% if ( booking_num['fitness'] < 1 ) %}
                            <option value="none">No Available Activities</option>
                        {% else %}                        
                            <option value="general">General Session (1 Hour)</option>
                        {% endif %}  
                    </select>
                  </div>

                  <div class="ui checkbox" style="margin-bottom: 15px;">
                    <input type="checkbox" name="weekly" id="weekly">
                    <label>Make it weekly?</label>
                  </div>                  

                  <div class="field">
                    <input class="ui fluid large teal submit button" id="fitness_submit" name="fitness_submit" type="submit" value="Confirm Booking">
                  </div>                                                        

                </form>
            </div>
          </div>
      </div>
    </div>  

    <div class="column">
       <div class="ui fluid card">
        <div class="ui medium image"><img src="../static/Images/swimming-pool.jpg" alt="swimming pool"></div>
          <div class="content">
            <div class="header">Swimming Pool</div>
          </div>
          <div class="content">
            <h2 class="ui sub header">Make a Booking:</h4>
            <div class="description">
                <form class="ui form" action="{{ url_for('process_booking') }}" method="post">

                  <div class="field">
                    <label>Date</label>
                    <select id="dateChosen" name="dateChosen">
                        {% if ( booking_num['swimming'] < 1 ) %}

                            <option value="none">No Available Dates</option>

                        {% else %}                        
                        {% for date in booking_dict['swimming']: %}
                          <option value="{{ date }}">{{ date }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                  </div>

                  <div class="field">
                    <label>Time</label>
                    <select id="timeChosen" name="timeChosen">
                        {% if ( booking_num['swimming'] < 1 ) %}

                            <option value="none">No Available Times</option>

                        {% else %}

                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>

                        {% endif %}
                    </select>
                  </div>  

                  <div class="field">
                    <label>Booking Type</label>
                    <select id="choose" name="choose">
                        {% if ( booking_num['swimming'] < 1 ) %}
                            <option value="none">No Available Activities</option>
                        {% else %}                        
                            <option value="general">General Session (1 Hour)</option>
                            <option value="lane">Lane Swimming</option>
                            <option value="lesson">Lesson</option>
                            <option value="team">Team Event</option>
                        {% endif %}                        
                    </select>
                  </div>

                  <div class="ui checkbox" style="margin-bottom: 15px;">
                    <input type="checkbox" name="weekly" id="weekly">
                    <label>Make it weekly?</label>
                  </div>                   

                  <div class="field">
                    <input class="ui fluid large teal submit button" id="swimming_submit" name="swimming_submit" type="submit" value="Confirm Booking">
                  </div>                                                        

                </form>
            </div>
          </div>       
      </div>
    </div>

    <div class="column">
       <div class="ui fluid card">
        <div class="ui medium image"><img src="../static/Images/squash.jpg" alt="squash"></div>
          <div class="content">
            <div class="header">Squash Courts</div>
          </div>
          <div class="content">
            <h2 class="ui sub header">Make a Booking:</h4>
            <div class="description">
                <form class="ui form" action="{{ url_for('process_booking') }}" method="post">

                  <div class="field">
                    <label>Date</label>
                    <select id="dateChosen" name="dateChosen">
                        {% if ( booking_num['squash'] < 1 ) %}

                            <option value="none">No Available Dates</option>

                        {% else %}

                            {% for date in booking_dict['squash']: %}
                                <option value="{{ date }}">{{ date }}</option>
                            {% endfor %}

                        {% endif %}
                    </select>
                  </div>

                  <div class="field">
                    <label>Time</label>
                    <select id="timeChosen" name="timeChosen">
                        {% if ( booking_num['squash'] < 1 ) %}

                            <option value="none">No Available Times</option>

                        {% else %}

                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>

                        {% endif %}
                    </select>
                  </div>  

                  <div class="field">
                    <label>Booking Type</label>
                    <select id="choose" name="choose">
                        {% if ( booking_num['squash'] < 1 ) %}
                            <option value="none">No Available Activities</option>
                        {% else %}                        
                            <option value="general">General Session (1 Hour)</option>
                            <option value="team">Team Event</option>
                        {% endif %}
                    </select>
                  </div>

                  <div class="ui checkbox" style="margin-bottom: 15px;">
                    <input type="checkbox" name="weekly" id="weekly">
                    <label>Make it weekly?</label>
                  </div>                   

                  <div class="field">
                    <input class="ui fluid large teal submit button" id="squash_submit" name="squash_submit" type="submit" value="Confirm Booking">
                  </div>                                                        

                </form>
            </div>
          </div>      
      </div>
    </div>  

    <div class="column">
       <div class="ui fluid card">
        <div class="ui medium image"><img src="../static/Images/yoga.jpg" alt="yoga"></div>
          <div class="content">
            <div class="header">Sports Hall</div>
          </div>
          <div class="content">
            <h4 class="ui sub header">Make a Booking:</h4>
            <div class="description">

                <form class="ui form" action="{{ url_for('process_booking') }}" method="post">

                  <div class="field">
                    <label>Date</label>
                    <select id="dateChosen" name="dateChosen">
                        {% if ( booking_num['sports'] < 1 ) %}

                            <option value="none">No Available Dates</option>

                        {% else %}

                            {% for date in booking_dict['sports']: %}
                                <option value="{{ date }}">{{ date }}</option>
                            {% endfor %}

                        {% endif %}
                    </select>
                  </div>

                  <div class="field">
                    <label>Time</label>
                    <select id="timeChosen" name="timeChosen">
                        {% if ( booking_num['sports'] < 1 ) %}

                            <option value="none">No Available Times</option>

                        {% else %}

                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>

                        {% endif %}
                    </select>
                  </div>  

                  <div class="field">
                    <label>Booking Type</label>
                    <select id="choose" name="choose">
                        {% if ( booking_num['sports'] < 1 ) %}
                            <option value="none">No Available Activities</option>
                        {% else %}                        
                            <option value="general">General Session (1 Hour)</option>
                        {% endif %}
                    </select>
                  </div>

                  <div class="ui checkbox" style="margin-bottom: 15px;">
                    <input type="checkbox" name="weekly" id="weekly">
                    <label>Make it weekly?</label>
                  </div>                   

                  <div class="field">
                    <input class="ui fluid large teal submit button" id="sports_submit" name="sports_submit" type="submit" value="Confirm Booking">
                  </div>                                                        

                </form>

            </div>
          </div>      
      </div>
    </div>    

  </div>

{% else %}

    <div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%">
        You must be logged in!
    </div>

    <div class="ui fluid raised segment">
        <a href="{{ url_for('index') }}" title="Visit Home Page">
            <button class="ui fluid blue button">
                Go Home
            </button>
        </a>
    </div>

{% endif %}

<div class="ui inverted vertical footer segment" style="padding: 2.5em 0em; font-size: 1rem;">
    <div class="ui container">
        <div class="ui stackable inverted equal height stackable grid">
          <div class="three wide left aligned column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a class="item" href="{{ url_for('index') }}" title="Visit Home Page">Home</a>
              <a class="item" href="{{ url_for('memberships') }}" title="Visit Memberships Page">Memberships</a>
              <a class="item" href="{{ url_for('classes_and_facilities') }}" title="Visit Classes Page">Classes & Facilities</a>
          </div>
        </div>
        <div class="ten wide column"></div>
        <div class="three wide right aligned column">
          <img class="ui tiny image" src="../static/Images/logo-white.png" alt="logo" style="float: right">
        </div>
      </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.js'></script>
<script id="rendered-js">
  $('#bookingdate').calendar({
  type: 'time' });
</script>

{% endblock %}