{%extends 'base.html'%}

{% block content %}

<div class="ui fluid image">
  <img src="../static/Images/header.png" alt="header image of computer">
  <div class="header-image"><span style="background-color: rgba(0, 0, 0, 0.5);">Confirm Booking</span></div>
</div>

{% if 'email' in session %}

    <div class="ui container" style="margin-top: 2%">
        <div class="ui raised segment">
            <h2 style="text-align: center;">Booking Price: <span style="color: lime">£{{ price }}</span></h2>
        </div>
    </div>

    <form class="ui form" action="{{ url_for('make_booking') }}" method="post">

        <div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%">
            Choose a Payment Method
        </div>

        <div class="ui container" style="padding-bottom: 1em;">
            <div class="ui raised segment">

                <div class="ui styled fluid accordion">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        Debit/Credit Card
                    </div>
                        <div class="active content">
                            <div class="fields">
                                <div class="seven wide field">
                                    <label>Card Number</label>
                                    <input type="text" name="card[number]" maxlength="16" placeholder="Card #" value="{{ session['card_num'] }}">
                                </div>
                                <div class="three wide field">
                                    <label>CVC</label>
                                    <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC" value="{{ session['card_cvc'] }}">
                                </div>
                                <div class="six wide field">
                                    <label>Expiration</label>
                                    <div class="two fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown" name="card[expire-month]" value="{{ session['card_month'] }}">
                                                <option value="">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                          <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year" value="{{ session['card_year'] }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                

                    <div class="ui horizontal divider">
                        Or
                    </div>

                    <div class="ui styled fluid accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Paypal
                        </div>
                        <div class="content">
                            <button class="big ui basic button" name="paypal_submit" id="paypal_submit" type="submit">
                                <img src="../static/Images/paypal.png" class="ui medium image" alt="paypal logo">
                            </button>
                        </div>

                    </div>

                    <div class="ui horizontal divider">
                        Or
                    </div>

                    <div class="ui styled fluid accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Cash
                        </div>
                        <div class="content">
                            <input class="big ui submit button" id="cash_submit" name="cash_submit" type="submit" value="Request Cash Payment">
                        </div>

                    </div>                    

                </div>      

                <div class="ui raised segment">
                    <input class="ui fluid positive huge submit button" id="card_submit" name="card_submit" type="submit" value="Confirm Booking">
                </div>                 

            </div>

        </div> 

    </form>

{% else %}

    <div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%">
        You must be logged in!
    </div>

    <div class="ui fluid raised segment">
        <a href="{{ url_for('index') }}" title="Visit Home Page">
            <button class="ui fluid blue button">
                Go Home
            </button>
        </a>
    </div>

{% endif %}

<div class="ui inverted vertical footer segment" style="padding: 5em 0em; font-size: 1rem;">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
              <h4 class="ui inverted header">About</h4>
              <div class="ui inverted link list">
              <a href="#" class="item">Test Link 1</a>
              <a href="#" class="item">Test Link 2</a>
              <a href="#" class="item">Test Link 3</a>
            </div>
        </div>
        <div class="three wide column">
            <h4 class="ui inverted header">Services</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Test Link 1</a>
              <a href="#" class="item">Test Link 2</a>
              <a href="#" class="item">Test Link 3</a>
            </div>
        </div>
        <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p style="font-size: 1rem;">Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.js'></script>
<script type="text/javascript">
    $('.ui.accordion')
      .accordion()
    ;

    $('select.dropdown')
      .dropdown()
    ;
</script>

{% endblock %}