{%extends 'base.html'%}

{% block content %}

<div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%;">
    Your Profile:
</div>

{% if booking_confirm %}

    <div class="ui container">
        <div class="ui positive message">
            <p style="color: green; text-align: center;">Booking Confirmed! See booking list below</p>
        </div>
    </div>

{% endif %} 

{% if member_confirm %}

    <div class="ui container">
        <div class="ui positive message">
            <p style="color: green; text-align: center;">Membership Confirmed! Welcome to your dashboard!</p>
        </div>
    </div>

{% endif %} 

{% if cash_confirm %}

    <div class="ui container">
        <div class="ui positive message">
            <p style="color: green; text-align: center;">Your cash payment has been requested. A staff member will process it shortly.</p>
        </div>
    </div>

{% endif %} 

<div class="ui container">

	<div class="ui fluid card" style="padding: 1em 0em">

		<div style="margin-left: auto; margin-right: auto;">

			<div class="ui statistic">
			  	<div class="label">
			    Membership Type:
			  	</div>
			  	<div class="value">
			  	{{ membership['name'] }}
			  	</div>
			  	<div class="label"><i>
			  		(Last Payment: {{ membership['last-payment'] }})
			  	</div></i>
			</div>

		</div>

	</div>

	<div class="ui two column centered grid" style="margin-top: 2%; margin-bottom: 2%;">

		<div class="row">
		
			<div class="column">
				<div class="ui cards">
				  	<div class="ui fluid card">
				    	<div class="content">
					      	<div class="header">Your Details</div>
					      	<table class="ui very basic table">
					      		<tr>
					      			<td>First Name:</td>
					      			<td>{{ session['fname'] }}</td>
					      		</tr>
					      		<tr>
					      			<td>Last Name:</td>
					      			<td>{{ session['lname'] }}</td>
					      		</tr>
					      		<tr>
					      			<td>Date of Birth:</td>
					      			<td>{{ session['dob'] }}</td>
					      		</tr>
					      		<tr>
					      			<td>Email:</td>
					      			<td>{{ session['email'] }}</td>
					      		</tr>	      					      					      					      		
					      	</table>
				    	</div>
				  	</div>
				</div>
			</div>

			<div class="column">
				<div class="ui cards">
				 	<div class="ui fluid card">
				    	<div class="content">
				    		<div class="header">User Tools</div>
				    		<table class="ui very basic table">
				    			<tr>
				    				<td>
				    					{% if membership['name'] == 'Expired' or membership['name'] == 'Cancelled' %}
					    					<form class="ui form" action="{{ url_for('memberships') }}" method="post">
					    						<button type="submit" class="ui fluid green submit button"><i class="shopping cart icon"></i>Purchase Membership</button>
					    					</form>
					    				{% else %}
					    					<form class="ui form" action="{{ url_for('cancelmembership') }}" method="post">
					    						<button type="submit" class="ui fluid negative submit button"><i class="ban icon"></i>Cancel Membership</button>
					    					</form>
					    				{% endif %}				    				

					    				{% if session['role'] == 'manager' or session['role'] == "staff" %}

					    					<a href="{{ url_for('staff') }}" title="Visit Staff Center">
					    						<button class="ui fluid primary button" style="margin-top: 2%;">
					    							<i class="cog icon"></i>
					    							Staff Center
					    						</button>
					    					</a>

					    				{% else %}

					    					<a href="{{ url_for('make_staff') }}" title="Make yourself staff">
					    						<button class="ui fluid primary basic button" style="margin-top: 2%;">
					    							<i class="cog icon"></i>
					    							(Debug) Make Yourself Staff
					    						</button>
					    					</a>					    					

					    				{% endif %}

				    				</td>
				    			</tr>
				    			<tr>			    				
				    				<td>
				    					<form class="ui form" action="{{ url_for('logout') }}" method="post">
				    						<button type="submit" class="ui fluid submit button"><i class="lock icon"></i>Sign Out</button>
				    					</form>
				    				</td>		    				
				    			</tr>
				    		</table>
				    	</div>
				  	</div>
				</div>
			</div>	

		</div>

		<div class="row">
			<div class="column">
				<div class="ui cards">
				  	<div class="ui fluid card">
				    	<div class="content" style="height:300px; overflow-y: scroll;">
					      	<div class="header">Payments</div>
							<table class="ui very basic table">
								<thead>
							    	<tr>
							      		<th>Date</th>
							      		<th>Type</th>
							      		<th>Receipt</th>
							    	</tr>
							  	</thead>
							  	<tbody>
							  		{% for pid, payment in payments.items() %}
							    	<tr>
							      		<td>{{ payment.date }}</td>
							      		<td>{{ payment.type }}</td>
							      		<td><a href="{{ url_for('display_receipt', paymentid=pid) }}" title="Display Receipt">View Here</td>
							    	</tr>
							    	{% endfor %}
							  	</tbody>
							</table>
				    	</div>
				  	</div>
				</div>
			</div>

			<div class="column">
				<div class="ui cards">
				  	<div class="ui fluid card">
				    	<div class="content" style="height:300px; overflow-y: scroll;">
					      	<div class="header">Bookings</div>
							<table class="ui very basic table">
								<thead>
							    	<tr>
							      		<th>Date</th>
							      		<th>Time</th>
							      		<th>Facility</th>
							      		<th>Type</th>
							    	</tr>
							  	</thead>
							  	<tbody>
							  		{% for bid, booking in bookings.items() %}
							    	<tr>
							      		<td>{{ booking.date }}</td>
							      		<td>{{ booking.time }}</td>
							      		<td>{{ booking.facility }}</td>
							      		<td>{{ booking.type }}</td>
							    	</tr>
							    	{% endfor %}
							  	</tbody>
							</table>
				    	</div>
				  	</div>
				</div>
			</div>			
		</div>

	</div>

</div>

{% endblock %}