{%extends 'base.html'%}

{% block content %}

<div class="ui fluid image">
	<img src="../static/Images/header.png" alt="header image of computer">
	<div class="header-image"><span style="background-color: rgba(0, 0, 0, 0.5);">UoL Sports Center</span></div>
</div>

{% if not (errorMessage == "") %}

    <div class="ui container" style="margin-top: 2%">
        <div class="ui error message">
            <p style="color: red; text-align: center;">{{ errorMessage }} </p>
        </div>
    </div>

{% endif %} 

<div class="ui horizontal divider" style="margin-top: 2%;">
    Memberships
</div>

<div class="ui three column doubling stackable grid container" style="margin-top: 2%; margin-bottom: 2%;">
	
	<div class="column">
		<div class="ui cards">
		  	<div class="card">
		    	<div class="content">
			      	<div class="header">Monthly Membership</div>
			      	<div class="description">
			        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			      	</div>
		    	</div>
		  	</div>
		</div>
	</div>

	<div class="column">
		<div class="ui cards">
		  	<div class="card">
		    	<div class="content">
			      	<div class="header">Annual Membership</div>
			      	<div class="description">
			        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			      	</div>
		    	</div>
		  	</div>
		</div>
	</div>

	<div class="column">
		<div class="ui cards">
		 	<div class="card">
		    	<div class="content">
		    		<div class="header">Student Membership</div>
		    		<div class="description">
		        		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		      		</div>
		    	</div>
		  	</div>
		</div>
	</div>	

</div>

<div class="ui horizontal divider">
    Facilities
</div>

<div class="ui four column doubling stackable grid container" style="margin-top: 2%; margin-bottom: 2%;">

	<div class="column">
		 <div class="ui fluid card">
		 	<div class="ui medium image"><img src="../static/Images/gym.jpg" alt="gym"></div>
		   	<div class="content">
		   		<div class="header">Gym</div>
		   		<div class="description">
		       		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		   		</div>
		   	</div>
		</div>
	</div>	

	<div class="column">
		 <div class="ui fluid card">
		 	<div class="ui medium image"><img src="../static/Images/swimming-pool.jpg" alt="swimming"></div>
		   	<div class="content">
		   		<div class="header">Swimming Pool</div>
		   		<div class="description">
		       		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		   		</div>
		   	</div>
		</div>
	</div>

	<div class="column">
		 <div class="ui fluid card">
		 	<div class="ui medium image"><img src="../static/Images/squash.jpg" alt="squash"></div>
		   	<div class="content">
		   		<div class="header">Squash Courts</div>
		   		<div class="description">
		       		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		   		</div>
		   	</div>
		</div>
	</div>	

	<div class="column">
		 <div class="ui fluid card">
		 	<div class="ui medium image"><img src="../static/Images/yoga.jpg" alt="yoga"></div>
		   	<div class="content">
		   		<div class="header">Yoga Studio</div>
		   		<div class="description">
		       		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		   		</div>
		   	</div>
		</div>
	</div>		

</div>

<div class="ui inverted vertical footer segment" style="padding: 2.5em 0em; font-size: 1rem;">
    <div class="ui container">
        <div class="ui stackable inverted equal height stackable grid">
          <div class="three wide left aligned column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a class="item" href="{{ url_for('index') }}" title="Visit Home Page">Home</a>
              <a class="item" href="{{ url_for('memberships') }}" title="Visit Memberships Page">Memberships</a>
              <a class="item" href="{{ url_for('classes_and_facilities') }}" title="Visit Classes Page">Classes & Facilities</a>
          </div>
        </div>
        <div class="ten wide column"></div>
        <div class="three wide right aligned column">
          <img class="ui tiny image" src="../static/Images/logo-white.png" alt="logo" style="float: right">
        </div>
      </div>
    </div>
</div>

{% endblock %}