{%extends 'base.html'%}

{% block content %}

<div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%;">
    Edit Staff:
</div>

<div class="ui container">

	<div class="ui centered grid">

		<div class="ten wide column" style="text-align: center">

			<a href="{{ url_for('staff') }}" title="Visit Staff Page">
				<button class="ui fluid button">
					Go Back
				</button>
			</a>

			{% if not (success_message == "") %}
			    <div class="ui container">
			        <div class="ui positive message">
			            <p style="color: green; text-align: center;">{{ success_message }}</p>
			        </div>
			    </div>
			{% endif %} 
			{% if not (error_message == "") %}
		        <div class="ui container">
		            <div class="ui error message">
		                <p style="color: red; text-align: center;">{{ error_message }} </p>
		            </div>
		        </div>
		    {% endif %}			

			<div class="ui raised segment">

				<table class="ui very basic table">

					<thead>
						<tr>
							<th>Staff Name</th>
							<th>Role</th>
							<th>Promote</th>
							<th>Demote</th>
						</tr>
					</thead>
					<tbody>

						{% for sid, staff in staffMembers.items() %}

							<tr>
								<td>{{ staff.name }}</td>
								<td>{{ staff.role }}</td>

								{% if staff.role == "manager" %}

									<td><b>Unable to Promote</b></td>

								{% else %}
									<form class="ui form" method="post" action="{{ url_for('promote_staff', id=sid) }}">
										<td>
											<input class="ui fluid positive submit button" type="submit" value="Promote">
										</td>
									</form>
								{% endif %}
								<form class="ui form" method="post" action="{{ url_for('demote_staff', id=sid) }}">
									<td>
										<input class="ui fluid negative submit button" type="submit" value="Demote">
									</td>
								</form>								
							</tr>

						{% endfor %}						

					</tbody>

				</table>

				<div class="ui horizontal divider">
					New Staff Member
				</div>

				<form class="ui form" method="post" action="{{ url_for('new_staff') }}">
					<input type="text" name="email" placeholder="Email Address">
					<input class="ui fluid positive submit button" type="submit" value="Give Access">
				</form>				

			</div>

		</div>		

	</div>

</div>

<div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%;">
    Assign Staff:
</div>

<div class="ui container">

	<div class="ui centered grid">

		<div class="ten wide column" style="text-align: center">

			<div class="ui raised segment">

				<h3>Upcoming Bookings</h3>

				<table class="ui very basic table">

					<thead>
						<tr>
							<th>Facility</th>
							<th>Activity</th>
							<th>Date</th>
							<th>Time</th>
							<th>Assign Staff</th>
							<th>Submit</th>
						</tr>
					</thead>
					<tbody>

						{% for bid, booking in bookings.items() %}

							<tr>

								<td>{{ booking.facility }}</td>
								<td>{{ booking.activity }}</td>
								<td>{{ booking.date }}</td>
								<td>{{ booking.time }}</td>

								
								<form class="ui form" method="post" action="{{ url_for('assign_staff', booking=booking.timetable) }}">
									<td>
									<div class="field">
								    	<select name="staff_member" id="staff_member" class="ui dropdown">
								      		<option value="">Choose Staff</option>
								      		{% for sid, staff in staffMembers.items() %}
								      			<option value="{{ sid }}">{{ staff.name }}</option>
								      		{% endfor %}
								    	</select>
								  	</div>
								  	</td>

								  	<td>
								  		<div class="field">
								  			<input class="ui fluid positive submit button" type="submit" value="Assign">
								  		</div>
								  	</td>
								</form>					

							</tr>

						{% endfor %}						

					</tbody>

				</table>				

			</div>

		</div>

	</div>

</div>

{% endblock %}