{%extends 'base.html'%}

{% block content %}

<div class="ui fluid image">
  <img src="../static/Images/header.png" alt="header image of computer">
  <div class="header-image"><span style="background-color: rgba(0, 0, 0, 0.5);">Purchase a Membership</span></div>
</div>

{% if 'email' in session %}

    {% if membership["name"] == "Expired" or membership["name"] == "Cancelled" %}

        <div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%">
            Choose A Membership Type
        </div>

        <form class="ui form member-form" action="{{ url_for('purchase') }}" method="post">

            <div class="ui container">
                    <div class="ui raised segment">
                        <div class="field" style="padding: 1em 0em;">
                            <select class="ui fluid dropdown" name="member">
                                <option value="monthly">Monthly (£14.99 Per Month)</option>
                                <option value="annual">Annual (£149.99 Per Year</option>
                                <option value="student">Student (£129.99 Per Year)</option>
                            </select>
                        </div>
                    </div>
            </div>


            <div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%">
                Choose a Payment Method
            </div>

            <div class="ui container" style="padding-bottom: 1em;">
                <div class="ui raised segment">

                    <div class="ui styled fluid accordion">
                        <div class="active title">
                            <i class="dropdown icon"></i>
                            Debit/Credit Card
                        </div>
                            <div class="active content">
                                <div class="fields">
                                    <div class="seven wide field">
                                        <label>Card Number</label>
                                        <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                                    </div>
                                    <div class="three wide field">
                                        <label>CVC</label>
                                        <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                                    </div>
                                    <div class="six wide field">
                                        <label>Expiration</label>
                                        <div class="two fields">
                                            <div class="field">
                                                <select class="ui fluid search dropdown" name="card[expire-month]">
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                              <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    

                        <div class="ui horizontal divider">
                            Or
                        </div>

                        <div class="ui styled fluid accordion">
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Paypal
                            </div>
                            <div class="content">
                                <input type="image" class="ui medium image" name="submit" src="../static/Images/paypal.png" border="0" alt="Check out with PayPal">
                            </div>

                        </div>

                    </div>       

                </div>
            </div>

            <div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%">
                Confirm Your Order
            </div>

            <div class="ui container" style="padding-bottom: 2%;">
                <div class="ui raised segment">
                    <button class="ui fluid positive huge submit button">
                        <i class="shopping cart icon"></i>
                        Confirm Order
                    </button>
                </div>
            </div>    

        </form>

    {% else %}

        <div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%">
            You already have a membership!
        </div>

        <div class="ui fluid raised segment">
            <a href="{{ url_for('dashboard') }}" title="Visit Dashboard Page">
                <button class="ui fluid blue button">
                    Go to Dashboard
                </button>
            </a>
        </div>

    {% endif %}

{% else %}

    <div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%">
        You must be logged in!
    </div>

    <div class="ui fluid raised segment">
        <a href="{{ url_for('index') }}" title="Visit Home Page">
            <button class="ui fluid blue button">
                Go Home
            </button>
        </a>
    </div>

{% endif %}

<div class="ui inverted vertical footer segment" style="padding: 2.5em 0em; font-size: 1rem;">
    <div class="ui container">
        <div class="ui stackable inverted equal height stackable grid">
          <div class="three wide left aligned column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a class="item" href="{{ url_for('index') }}" title="Visit Home Page">Home</a>
              <a class="item" href="{{ url_for('memberships') }}" title="Visit Memberships Page">Memberships</a>
              <a class="item" href="{{ url_for('classes_and_facilities') }}" title="Visit Classes Page">Classes & Facilities</a>
          </div>
        </div>
        <div class="ten wide column"></div>
        <div class="three wide right aligned column">
          <img class="ui tiny image" src="../static/Images/logo-white.png" alt="logo" style="float: right">
        </div>
      </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.js'></script>
<script type="text/javascript">
    $('.ui.accordion')
      .accordion()
    ;

    $('select.dropdown')
      .dropdown()
    ;
</script>

{% endblock %}