<!DOCTYPE html>
<html lang="en">
<head>
  <title>Receipt</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>

  <div class="ui container">

    <h1>Receipt No. #{{ paymentNo }}</h1>
    
    <div class="ui container">
      <h3>{{ name }}</h3>
      <p>Date: 2020-05-01</p>
      <p>Amount Paid: £{{ recData["price"] }}</p>
    </div>

    <br>
    
    <table class="ui table">
    
      <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
      
      <tr class="item-row">
          <td class="item-name"><textarea>{{ recData["name"] }}</textarea></td>
          <td class="description"><textarea>{{ recData["desc"] }}</textarea></td>
          <td><textarea class="qty">1</textarea></td>
          <td><span class="price">£{{ recData["price"] }}</span></td>
      </tr>
    
    </table>

    <h4>Total: £{{ recData["price"] }}</h4>
    <h4>Amount Paid: £{{ recData["price"] }}</h4>
    <h4>Balance Due: £0.00</h4>   

    <br>

    <p>Thank you for purchasing from SS Gym, we have a 14 day money back guarantee policy. Please contact a member of staff if you are not satisfied with your purchase.</p>

    <img class="ui large image" src="../static/Images/qr.png" alt="QR Code">
  
  </div>
  
</body>

</html>