{%extends 'base.html'%}

{% block content %}

<div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%;">
    Your Schedule:
</div>

<div class="ui container">

	<div class="ui centered grid">

		<div class="eight wide column">

			<a href="{{ url_for('staff') }}" title="Visit Staff Page">
				<button class="ui fluid button">
					Go Back
				</button>
			</a>

			<div class="ui raised segment">

				<table class="ui very basic table">

					<thead>
						<tr>
							<th>Facility</th>
							<th>Activity</th>
							<th>Date</th>
							<th>Time</th>
						</tr>
					</thead>
					<tbody>

						{% for bid, booking in bookings.items() %}

							<tr>

								<td>{{ booking.facility }}</td>
								<td>{{ booking.activity }}</td>
								<td>{{ booking.date }}</td>
								<td>{{ booking.time }}</td>

							</tr>

						{% endfor %}

					</tbody>

				</div>

			</div>

		</div>		

	</div>

</div>

{% endblock %}