{%extends 'base.html'%}

{% block content %}

<style type="text/css">
    body > .grid {
      height: 100%;
    }
    .column {
      max-width: 450px;
    }
</style>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="ui error message">
        <ul class="list">
          {% for message in messages %}
            <p style="color: red;">{{ message }} </p>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

<div class="ui middle aligned center aligned grid" style="padding-top: 3%">

  <div class="column" style="">
    <h2 class="ui teal image header">
      <img src="../static/Images/logo.png" class="image" alt="logo">
      <div class="content">
        Sign-up for an Account
      </div>
    </h2>

    <form class="ui form" action="{{ url_for('signup') }}" method="post">
      <div class="ui stacked segment">
        {{ register_form.hidden_tag() }}
        <div class="field">
          <div class="ui left icon input">
          <i class="user icon"></i>
          {{ register_form.fname }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
          <i class="user icon"></i>
          {{ register_form.lname }}
          </div>
        </div>                
        <div class="field">
          <div class="ui left icon input">
          <i class="user icon"></i>
          {{ register_form.email }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
          <i class="lock icon"></i>
          {{ register_form.password }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
          <i class="lock icon"></i>
          {{ register_form.confirmPassword }}
          </div>
        </div>
        <div class="field">
          <div class="ui calendar" id="example2">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              {{ register_form.dob }}
            </div>
          </div>
        </div>
        <div class="ui checkbox" style="margin-bottom: 10px; margin-top: 10px;">
          {{ register_form.consent }}
          {{ register_form.consent.label }}
        </div>
        <br>
        {{ register_form.registerSubmit(class_='ui fluid large teal submit button') }}
      </div>
    </form>

  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.min.js'></script>
<script id="rendered-js">
  $('#example2').calendar({
  type: 'time' });
</script>

{% endblock %}