{%extends 'base.html'%}

{% block content %}

<div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%;">
    Staff Center - Manage Activities:
</div>

<div class="ui container">

	<div class="ui one column doubling stackable centered grid">

		<div class="ui raised card" style="margin-top: 2%;">
			<a href="{{ url_for('staff') }}" title="Visit Staff Page">
				<button class="ui fluid button">
					Go Back
				</button>
			</a>
			<div class="content">
				<div class="center aligned header">Manage Facilities & Activities</div>
				<div class="ui divider"></div>
				<div class="center aligned description">

					<form class="ui form" action="{{ url_for('manage_diary') }}" method="post">

						<div class="field">
							<label>Choose Facility</label>
		                    <select id="chosenFacility" name="chosenFacility" onchange="">
		                    	<option value="none">Choose a Facility</option>
		                    	<option value="fitness">Fitness Room</option>
		                      	<option value="swimming">Swimming Pool</option>
		                      	<option value="squash">Squash Court</option>
		                      	<option value="sports">Sports Hall</option>
		                    </select>
						</div>

						<div class="field">
							<label>Choose Date</label>
		                    <select id="chosenDate" name="chosenDate">
		                    	<option value="all">All</option>
		                      	<option value="{{ dates[0] }}">{{ dates[0] }}</option>
		                      	<option value="{{ dates[1] }}">{{ dates[1] }}</option>
		                      	<option value="{{ dates[2] }}">{{ dates[2] }}</option>
		                    </select>
						</div>

		                <div class="field">
		                    <input class="ui fluid large teal submit button" type="submit" value="Open Bookings">
		                </div>

					</form>

				</div>
			</div>
		</div>

	</div>

</div>

<script type="text/javascript">
	
	var general_options = {
	    general : 'General Session (1 Hour)'
	};

	var swim_options = {
	    general : 'General Session (1 Hour)',
	    lane : 'Lane Swimming',
	    lesson : 'Lesson',
	    team : 'Team Event'
	};	

	var squash_options = {
	    general : 'General Session (1 Hour)',
	    team : 'Team Event'
	};		

	$(document).ready(function(){

	  	$("#chosenFacility").change(function(){

	    	var fac = document.getElementById("chosenFacility");
	    	var facility = fac.options[fac.selectedIndex].value;

	    	var act = document.getElementById("chosenActivity");
	    	act.options.length = 0;

	    	var chosen = {};

	    	if ( facility == "fitness" || facility == "sports" )
	    	{
	    		chosen = general_options;
	    	}
	    	else if ( facility == "swimming" )
	    	{
	    		chosen = swim_options;
	    	}
	    	else if ( facility == "squash" )
	    	{
	    		chosen = squash_options;
	    	}

			for( index in chosen )
			{
			    act.options[act.options.length] = new Option(chosen[index], index);
			}	    	  	

	  	});

	});	

/*

*/

</script>

{% endblock %}