{%extends 'base.html'%}

{% block content %}

<div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%;">
    Staff Center:
</div>

<div class="ui container">

	{% if session['role'] == "staff" %}

	<div class="ui one column doubling stackable centered grid">

	{% elif session['role'] == "manager" %}

	<div class="ui two column doubling stackable centered grid">

	{% endif %}

		<div class="column">

			<div class="ui raised card" style="margin-left: auto; margin-right: auto;">
				<div class="content">
					<div class="center aligned header">Staff Tools</div>
					<div class="center aligned description">
						<a href="{{ url_for('cash_payment') }}" title="Visit Cash Payment Page">
							<button class="ui fluid button" style="margin-bottom: 2%">
								Cash Payment for Booking
							</button>
						</a>
						<a href="{{ url_for('view_schedule') }}" title="Visit Schedule Page">
							<button class="ui fluid button" style="margin-bottom: 2%">
								View Schedule
							</button>
						</a>						
						{% if not session['role'] == "manager" %}
						<a href="{{ url_for('make_manager') }}" title="Make Yourself Manager">
					    	<button class="ui fluid primary basic button" style="margin-top: 2%;">
					    		<i class="cog icon"></i>
					    		(Debug) Make Yourself Manager
					    	</button>
					    </a>
						{% endif %}
    					<a href="{{ url_for('make_user') }}" title="Make Yourself User">
    						<button class="ui fluid primary basic button" style="margin-top: 2%;">
    							<i class="cog icon"></i>
    							(Debug) Make Yourself User
    						</button>
    					</a>						
					</div>
				</div>
			</div>

		</div>

		{% if session['role'] == "manager" %}

		<div class="column">

			<div class="ui raised card" style="margin-left: auto; margin-right: auto;">
				<div class="content">
					<div class="center aligned header">Admin Tools</div>
					<div class="center aligned description">
						<a href="{{ url_for('staff_manage_activities') }}" title="Visit Manage Activities Page">
							<button class="ui fluid button" style="margin-bottom: 2%">Manage Activities</button>
						</a>
						<a href="{{ url_for('manage_staff') }}" title="Visit Staff Members Page">
							<button class="ui fluid button" style="margin-bottom: 2%">Manage Staff Members</button>
						</a>
						<a href="{{ url_for('usage') }}" title="Visit Usage Page">
							<button class="ui fluid button" style="margin-bottom: 2%">View Weekly Usage and Income</button>
						</a>
    					<a href="{{ url_for('make_staff_manager') }}" title="Make Yourself Staff">
    						<button class="ui fluid primary basic button" style="margin-top: 2%;">
    							<i class="cog icon"></i>
    							(Debug) Make Yourself Staff
    						</button>
    					</a>							
					</div>
				</div>
			</div>

		</div>

		{% endif %}		

	</div>

</div>

{% endblock %}