{%extends 'base.html'%}

{% block content %}

<div class="ui horizontal divider" style="margin-top: 2%; margin-bottom: 2%;">
    View Usage and Income (Last 7 Days):
</div>

<div class="ui container">

	<a href="{{ url_for('staff') }}" title="Visit staff page">
		<button class="ui fluid button">
			Go Back
		</button>
	</a>

	<div class="ui three column doubling stackable centered grid">

		<div class="row">

			<div class="column">

				<div class="ui fluid card" style="padding: 1em 0em; height: 100%">

					<div style="margin-left: auto; margin-right: auto;">

						<div class="ui statistic">
						  	<div class="label">
						    Bookings:
						  	</div>
						  	<div class="value">
						  	{{ stats["bookings"]["total"] }}
						  	</div>
						  	<div class="ui divider"></div>
						  	<table class="ui very basic table">
							    <tr>
							      <td>General Sessions</td>
							      <td>{{ stats["bookings"]["general"] }}</td>
							    </tr>
							    <tr>
							      <td>Lane Swimming</td>
							      <td>{{ stats["bookings"]["lane"] }}</td>
							    </tr>
							    <tr>
							      <td>Team Events</td>
							      <td>{{ stats["bookings"]["team"] }}</td>
							    </tr>
							    <tr>
							      <td>Lessons</td>
							      <td>{{ stats["bookings"]["lesson"] }}</td>
							    </tr>						    						    
						  	</table>
						</div>

					</div>

				</div>

			</div>

			<div class="column">

				<div class="ui fluid card" style="padding: 1em 0em; height: 100%">

					<div style="margin-left: auto; margin-right: auto;">

						<div class="ui statistic">
						  	<div class="label">
						    Income:
						  	</div>
						  	<div class="value">
						  	£{{ stats["payment"]["total"] }}
						  	</div>
						  	<div class="ui divider"></div>
						  	<table class="ui very basic table">
							    <tr>
							      <td>Memberships</td>
							      <td>£{{ stats["payment"]["membership"] }}</td>
							    </tr>
							    <tr>
							      <td>Bookings</td>
							      <td>£{{ stats["payment"]["bookings"] }}</td>
							    </tr>					    						    
						  	</table>			  	
						</div>

					</div>

				</div>		

			</div>

		</div>	

		<div class="row">

			<div class="column">

				<div class="ui fluid card" style="padding: 1em 0em; height: 100%">

					<div id="piechart1"></div>

					<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

					<script type="text/javascript">
					// Load google charts
					google.charts.load('current', {'packages':['corechart']});
					google.charts.setOnLoadCallback(drawChart);

					// Draw the chart and set the chart values
					function drawChart() {
					  var data = google.visualization.arrayToDataTable([
					  ['Task', 'Hours per Day'],
					  ['General Session', parseInt( '{{ stats["bookings"]["general"] }}' )],
					  ['Team Event', parseInt( '{{ stats["bookings"]["team"] }}' )],
					  ['Lessons', parseInt( '{{ stats["bookings"]["lesson"] }}' )],
					  ['Lane Swimming', parseInt( '{{ stats["bookings"]["lane"] }}' )]
					]);

					  // Optional; add a title and set the width and height of the chart
					  var options = {'title':'', 'width':325, 'height':325};

					  // Display the chart inside the <div> element with id="piechart"
					  var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
					  chart.draw(data, options);
					}
					</script>					

				</div>

			</div>

			<div class="column">

				<div class="ui fluid card" style="padding: 1em 0em; height: 100%">

					<div id="piechart2"></div>

					<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

					<script type="text/javascript">
					// Load google charts
					google.charts.load('current', {'packages':['corechart']});
					google.charts.setOnLoadCallback(drawChart);

					// Draw the chart and set the chart values
					function drawChart() {
					  var data = google.visualization.arrayToDataTable([
					  ['Task', 'Hours per Day'],
					  ['Memberships', parseInt( '{{ stats["payment"]["membership"] }}' )],
					  ['Bookings', parseInt( '{{ stats["payment"]["bookings"] }}' )]
					]);

					  // Optional; add a title and set the width and height of the chart
					  var options = {'title':'', 'width':325, 'height':325};

					  // Display the chart inside the <div> element with id="piechart"
					  var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
					  chart.draw(data, options);
					}
					</script>					

				</div>		

			</div>

		</div>

	</div>

</div>

{% endblock %}